<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Include the Navbar -->
    <%- include('partials/_navbar') %>

    <h1>About Us</h1>
    <p>This is my testing site where I learn how to make stuff. This website is going to be scuffed for a while, but I am teaching myself.</p>
</body>
<footer>
    <p>Powered by Node.js, Nginx, MongoDB, Cloudflare, and Google Cloud. I know this is dumb but don't care. If you want to hack me I guess it's a new lesson lol.</p>
</footer>
</html>
